{% extends 'base.html' %}

{% block content %}

    <h1 class="h1" style="color: white;">{{titulo}}</h1>
    <a href="{{torrent}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo1}}</h1>
    <a  href="{{torrent1}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo2}}</h1>
    <a  href="{{torrent2}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo3}}</h1>
    <a  href="{{torrent3}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo4}}</h1>
    <a  href="{{torrent4}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo5}}</h1>
    <a  href="{{torrent5}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo6}}</h1>
    <a  href="{{torrent6}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo7}}</h1>
    <a  href="{{torrent7}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo8}}</h1>
    <a  href="{{torrent8}}">Click aqui para baixar</a>
    <h1 class="h1" style="color: white;">{{titulo9}}</h1>
    <a  href="{{torrent9}}">Click aqui para baixar</a>
    
    </div>
    </div>
{% endblock %}