{% extends 'base.html' %}

{% block content %}

    <form action="#" method="post">
        <div class="container">
                <h1 class="h1" style="color: white;">Bem-vindo ,</h1>
                <h2 class="h2" style="color: white;">Filmes torrent</h2>
                <div class="row-cols-1">
                    <input type="text" name="nome" placeholder="Digite seu filme ou serie">
                </div>     
                <button class="btn btn-primary" type="submit" value="submit">Pesquisar</button>
            </div>
    </form>

{% endblock %}